matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.3
Pillow==9.4.0
plotly==5.10.0
requests==2.28.1
Riskfolio_Lib==3.3.0
scikit_learn==1.2.1
seaborn==0.12.2
streamlit==1.18.1
streamlit_authenticator==0.2.1
yfinance==0.1.90
streamlit_extras==0.3.2
